body {
    margin: 0;
    padding: 0;
}

.body {

    display: flex;
    justify-content: center;
    background-color: #B7C58F;

    &-container {

        margin-top: 150px;
        text-align: center;

        &-title{
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-size: 40px;
            font-style: normal;
            color: #5F9446;
        }

        &-text {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            color: #FFFFFF;
        }

        &-text-sentence {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 28px;
            color: #5F9446;
        }

        &-line {
            background: #FFFFFF;
            border: none;
            height: 2px;
            width: 65%;
        }
        
        &-button {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 27px;
            color: #5F9446;
            margin-top: 50px;
            filter: drop-shadow(5px 5px 2px #686868);

            &-text {
                background: #FFFFFF;
                padding: 10px 60px 10px 60px;
                border-radius: 30px;
            }
        }
    }

    &-images {
        
        margin-top: 40px;

        &-img1 {
            width: 350px;
            height: 350px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            left: 250px;
            position: relative;
        }

        &-img2 {
            width: 350px;
            height: 350px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            position: relative;
            bottom: 100px;
        }
    }
}

.body2 {

    display: flex;
    justify-content: center;

    &-imagesVegetarian {

        margin-top: 100px;
        text-align: center;

        &-img1 {
            border-radius: 20px;
            height: 400px;
            width: 260px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            position: relative;
            z-index: 1;
        }

        &-img2 {
            border-radius: 20px;
            height: 400px;
            width: 260px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            position: relative;
            z-index: 2;
            top: 100px;
            right: 40px;
        }

        &-img3 {
            border-radius: 20px;
            height: 400px;
            width: 260px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            position: relative;
            z-index: 1;
            top: 30px;
        }

        &-img4 {
            border-radius: 20px;
            height: 400px;
            width: 260px;
            filter: drop-shadow(10px 20px 20px #2D2D2D);
            position: relative;
            z-index: 1;
            top: 130px;
            right: 40px;
        }
    }

    &-container2 {

        margin-top: 250px;
        text-align: center;

        &-title{
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-size: 40px;
            font-style: normal;
            color: #5F9446;
        }

        &-text {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            margin-top: 100px;
            color: #000000;
        }

        &-button {
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 27px;
            color: #FFFFFF;
            margin-top: 100px;
            filter: drop-shadow(5px 5px 2px #686868);

            &-text {
                background: #5F9446;
                padding: 20px 60px 20px 60px;
                border-radius: 30px;
            }
        }
    }
}

.body3 {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    background-color: #007755;
}